[submodule "angular.js"]
	path = angular.js
	url = https://github.com/angular/angular.js
[submodule "angular"]
	path = angular
	url = https://github.com/angular/angular
[submodule "material"]
	path = material
	url = https://github.com/angular/material
